#body{
    background-color: #523380;
}
#header{
    background: #9D8CB7;
}
#main{
    margin: auto;
}
label{
    color: white;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
}
label{
    font-family: 'Roboto Mono', monospace;
}
#button{
    font-family: 'Roboto Condensed', sans-serif;
}
.error{
    color: white;
}
footer p{
    color: wheat;
    position: relative;
}
button.btn{
    background: white;
}
#usererror{
    color: white;
}
#passworderror{
    color: white;
}
#passwordautherror{
    color: white;
}
#emailerror{
    color: white;
}
#securityquestionerror{
    color: white;
}
p#error{
    color: white;
}